
.propImage{
  height: 250px;
}
.card {
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.card-img-top {
  max-height: 292px;
  object-fit: cover;
}

.card-title {
  font-weight: bold;
  font-size: 1.25rem;
  margin-top: 10px;
}

.card-subtitle {
  font-size: 1rem;
  color: #777;
}

.card-text {
  font-size: 1rem;
}

.card:hover img{
  transform:scale(1.2,1.2);
  transition-duration: 500ms;
  transition-timing-function: ease-out;
  opacity: .5;
}
.card img{
  transform: scale(1,1);
  transition-duration: 500ms;
  transition-timing-function: ease-out;
}
.img-wrapper{
  overflow: hidden;
  position: relative;
}

.button-container {
  position: absolute;
  top: 234px;
  right: 10px;
  opacity: 0; 
  transition: opacity 0.3s; 
}

.img-wrapper:hover .button-container {
  opacity: 1;
}

.button-container .btn {
  margin-left: 5px;
}
